* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.Nav {
    position: fixed;
    top: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    height: 60px;
    z-index: 1000;
}

.Title {
    width: 40%;
    text-align: center;
}

.Items {
    width: 60%;
    display: flex;
    align-items: center;
}

.Menu {
    width: 90%;
    display:flex;
    justify-content: space-evenly;
}
.Buttons {
    width: 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.links {
    text-decoration: none;
    color: black;
    font-weight: bold;
    padding: 3px 6px;
    border-radius: 20px;
    transition: font-size 0.3s ease,color 0.3s ease,background-color 0.3s ease;
}

.links:hover {
    font-size: 17px;
    background-color: #f3e8ff;
    color: #8b5cf6;
}
.links:focus{
    font-size: 17px;
    color: #8b5cf6;
}
.Name {
    font-size: 24px;
    font-family: 'Courier New', Courier, monospace;
}

.Mode {
    width: 45px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 20px;
    border: 2px solid rgb(163, 163, 163);
    position: absolute;
}

.Dropdown {
    font-size: 30px;
    display: none;
}

.moon,
.sun {
    height: 18px;
    width: 18px;
    border-radius: 50%;
    cursor: pointer;
}
.moon{
    background-color: #00bcd4;
    visibility: hidden;
}
.sun{
    background-color: #facc15;;
}
.Dark{
    background-color: black;
    color: white;
}
@media (max-width:426px){
    .Title {
    width: 80%;
    text-align: center;
}

.Items {
    width: 20%;
    display: flex;
    align-items: center;
}
.Menu{
    display: none;  
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top:60px;
    left:0px;
    width: 100%;
}
.links{
    width:100%;
    border-radius: 0%;
}
.Buttons{
    width:100%;
}
.Dropdown{
    display: flex;
    font-size: 18px;
    margin-left: 25px;
}
.moon,
.sun {
    height: 10px;
    width: 10px;
    border-radius: 50%;
    font-size: 10px;
}
.Mode {
    width: 25px;
    height: 15px;
    border-radius: 20px;
}
.close{
    display: none;
}
}